<!DOCTYPE html>
<html>
<head>
	<title>vue</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<div id="app"> 
			<div class="row">
				<input type="number" name="" v-model="kmm" @keyup="summ()">
				<input type="number" name="" v-model="mm" @keyup="summ()">
				<input type="text" disabled="" name="" v-model="totalm">
			</div>
				<br>
			<div class="row">
				<input type="number" name="" v-model="aa" @keyup="mul()">
				<input type="number" name="" v-model="bb" @keyup="mul()">
				<input type="text" disabled="" name="" v-model="totalab">
			</div>			  
		</div>
	</div>

	<script type="text/javascript">
		new	 Vue ({
			el : '#app',
			data:{
				kmm: 0,
				mm:0, 
				totalm:0, 
				aa: 0,
				bb:0,
				totalab:0,
			}, 
			methods: {
		     summ() { 
		       this.totalm = parseInt(this.mm) + parseInt(this.kmm)
		       console.log(this.totalm)
		    },
		    mul() { 
		       this.totalab = parseInt(this.aa) * parseInt(this.bb)
		       console.log(this.totalab)
		    }
		  }

		});

	</script>
</body>
</html>